/* -------------------------add producte----------------------------- */
.container {
  border-radius: 5px;
  padding: 20px;
}
.container h2 {
  padding: 10px 0 ;
  font-size: 3.5rem;
  text-align: center;
}
.container h3{
  font-size: 2.5rem;
  text-align: center;
  margin: 10px ;
}
.thongtindonhang{
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  padding: 25px 10px;
  margin-bottom: 30px;
}
.btn_controler {
  margin-bottom: 30px;
  text-align: center;
}

input[type=text], select, textarea{
  margin-bottom: 13px;
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 1.5rem;
}
label {
  font-size: 2rem;
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.col-25 {
  padding-left: 150px;
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ----------------table--------------------- */
table {
  margin: auto;
  border-collapse: collapse;
  width: 90%;
}
table th {
font-size: 2rem;
}
table td {
font-size: 2rem;
}
table a{
font-size: 2rem;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.btn_delete_update {
align-items: center;
text-align: center;
}
.chitietdonhang{
  margin-left: 150px;
  font-size: 1.5rem;
}
.thongtin {
  padding-left: 100px;
  float: left;
  width: 25%;
  margin-top: 6px;
  font-size: 1.5rem;
}
.chitiet {
  float: left;
  width: 75%;
  margin-top: 6px;
  font-size: 1.5rem;
}
.date-bill:after {
  content: "";
  display: table;
  clear: both;
  font-size: 25px;
}
