.select_items {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}
.select_items p {
    font-size: 25px;
}


/* --------item----------------- */
.flash-shale{
    margin: auto;
    width: 90%;
    /* margin-top: 10px; */
}
.mainsmartphone{  /*div chính*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 20px;
}
.phone{
    border: var(--border);
    background: linear-gradient(10deg, #eee 40%, #fff 30.1%);
    width: 20%;
    height: 450px;
    border-radius: 7px;
    padding: 20px 10px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 60px;
}
.img-phone{
    height: 200px;
    width: 200px;
    transition: all 0.3s ease-in-out;
}
.img-phone:hover{
    transform: scale(1.05);
}
.deal-phone{
    display: flex;
    background: rgb(207, 51, 103);
    height: 25px;
    width: 120px;
    border-radius: 15px;
    padding: 5px 5px;
    margin-top: 30px;
}
.share-phone{
    color: #f3f3f3;
    font-size: 14px;
    margin-left: 4px;
}
.price-phone{
    margin-top: 15px;
    font-size: 18px;
}

.money,.Evaluate{
    display: flex;
    margin-top: 5px;
}
.build{
    color: #d0021c;
    font-weight: 600;
    font-size: 25px;
}
.discount{
    margin-top: 5px;
    height: 25px;
    width: 40px;
    color: #e23838;
    background: #fff0e9;
    border-radius: 4px;
    padding: 3px 2px 2px 4px;
    margin-left: 7px;
    font-size: 14px;
    font-weight: 300;
}
#star{
    color: #FED300;
    margin-right: 15px;
}
.build-nows{
    align-items: center;
    text-decoration: none;
}
.build-now-1{
    align-items: center;
    background: #27ae60;
    color: #FFF;
    font-size: 22px;
    height: 50px;
    width: 230px;
    margin: 10px 5px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}
.giohang{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin: 30px;
}
.dathang{
    display: block;
    background: #27ae60;
    color: #FFF;
    font-size: 22px;
    height: 50px;
    width: 230px;
    margin: 25px 88px;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}

